.banner-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border: 2px solid #ddd;
  border-radius: 10px;
}

.banner-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.6s ease-in-out;
}
